@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>  @* To Print The Exception *@
	<div class="agileits-top">
		<form asp-action="SendRestPasswordUrl" method="post">
			<input class="text" asp-for="Email" placeholder="Email" required>

			<input type="submit" value="Rest Password">
		</form>
	</div>
</div>
