@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>  @* To Print The Exception *@
	<div class="agileits-top">
		<form asp-action="ResetPassword" method="post">
			<input class="text" type="password" asp-for="Password" placeholder="Password" required>
			<input class="text" type="password" asp-for="ConfirmedPassword" placeholder="Confirme Password" required>
			
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
