@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All" ></div>  @* To Print The Exception *@
	<div class="agileits-top">
		<form asp-action="SignIn" method="post">
			<input class="text email" type="email" asp-for="Email" placeholder="Email" required>
			<input class="text" type="password" asp-for="Password" placeholder="Password" required>
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="RemeberMe" class="checkbox" >
					<span>Remeber Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGN IN">
		</form>
		<p>Don't have an Account? <a href="SignUp"> Regester Now!</a></p>
	</div>
</div>

