@model Employee
@{
    ViewData["Title"] = "Update";
}

<h1>Update Employee</h1>
<br />      
<br />


<form asp-action="Update">
    <div asp-validation-summary="All" class="alert alert-danger"></div>

    <partial name="PartialView/CreateUpdateEmployeePartialView" model="Model" />

    <br />
    <input value="Update" type="submit" class="btn btn-success" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@* Client Side Validation The Page Wont Send Request To Server Unless It Sure The Request Dosent Fail
Like Form if U Send it Without Complete it it Wont Sent a Request To Server   *@

@section ClientServerValidation 
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}